<!DOCTYPE html>
<html>
  <head>
    <title>Vimeo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

 </head>

 <body>
   <script> window.logoWhite = "<%= asset_path("video_logo_white.png") %>"</script>
   <script> window.welcomeVideo = "<%= asset_path("northern_lights.mp4") %>"</script>
   <%= yield %>
 </body>
</html>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
